@charset "utf-8";
.top{width:100%; height:92px; background:#333; color:#d7d7d7;}
.topNav{width:1200px; height:44px; margin:auto;}
.topLeft{float:left; width:250px; height:44px; line-height:44px;}
.topLeft a{color:#d7d7d7;}
.topLeft ul{width:100%; list-style:none;}
.topLeft ul li{padding-left:10px; padding-right:10px; color:#d7d7d7; float:left; font-size:12px; position:relative;}
.topLeft li:nth-of-type(2){padding-left:18px; background:url("../images/bao.png") no-repeat 0 14px;}
.topLeft li:nth-of-type(3):hover{background:#fff;}
.menu{width:100%; background:#fff; position:absolute; left:0; top:44px; display:none;}
.menu a{display:block; height:24px; line-height:24px; text-align:center; color:#333;}
.mid{float:left; width:224px; height:44px; margin-left:240px;}
.mid img{width:100%; height:100%; display:inline-block;}
.right{float:right; width:265px; height:44px; padding-top:10px;}
.right input{height:24px; width:100%; color:#fff; font-size:14px; background:url("../images/sousuo.png") no-repeat 244px 5px;}
.topNav:after{content:"."; clear:both; display:block; height:0; overflow:hidden; visibility:hidden;}
.nav{width:642px; height:46px; line-height:46px; margin:auto;}
.nav ul{list-style:none;}
.nav ul li{float:left; font-size:16px; padding-left:22px; padding-right:22px;}
.nav ul li a{color:#fff;}
.nav ul li a:hover{color:red;}
.nav2{width:100%; height:44px; background:#f7f7f7;}
.topnav2{width:1200px; margin:auto; background:red;}
.topnav2 ul{width:650px; height:44px; margin:auto; }
.topnav2 li{height:44px; line-height:44px; text-align:center;list-style:none; float:left; padding-left:20px; padding-right:20px;}
.footer{width:100%; height:auto;}
.footer img{width:100%; height:100%;}