@charset "utf-8";
html,body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
fieldset,img{border:none;}
img{display:block;}
a{text-decoration:none;}
ul,ol{list-style:none;}
em{font-style:normal}
body{width:100%; font-family:"微软雅黑";}