<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="app">
    <script src="js/lib/angular.min.js"></script>
    <div>
        <div>商品单价：88.8</div>
        <div><input type="text" ng-model="count"></div>
        <div>小计金额：{{count*88.8}}</div>
    </div>
    <div ng-controller="controller1">
        <input type="text" ng-model="name">
        <span>{{name}}</span>
        <input type="text" ng-model="name">
        <span>{{name}}</span>
    </div>
    <div ng-controller="controller2">
        <input type="text" ng-model="name">
        <span>{{name}}</span>
    </div>
    <script>
        var app = angular.module("app",[]);
        app.controller("controller1", function ($scope) {
            $scope.name = "jerry";
        });
        app.controller("controller2", function ($scope) {
            $scope.name = "tom"
        });
    </script>
</body>
</html>